<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class = "col-sm-12">
        <h3>Uno Card Game</h3>
      </div>
    </div>
  </div>
</nav>
<div class="panel panel-default">
  <div style="height: 290px;padding:0"  class="panel-heading">
    <div class="col-sm-4">
      <img src="../../assets/logo/Uno_logo.png" style="height:200px" >
    </div>
    <div class="col-sm-8">
    </div>
    <h3 class="panel-title col-sm-12">Total Number of Players: {{playerNum}}</h3>
    <div class="col-sm-12">&nbsp;</div>
    <button type="button" (click)="AddPlayers()" class="btn btn-default  col-sm-3" style="width:200px">
      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Player
    </button>
    <button type="button" (click)="RemovePlayers()" class="btn btn-default col-sm-3" style="width:200px">
      <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span> Remove Player
    </button>
    <div class="col-sm-1">&nbsp;</div>
    <button type="button" (click)="Start()" class="btn btn-primary col-sm-3" style="width:200px">
      <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Deal Cards
    </button>
    <div class="col-sm-2">&nbsp;</div>
  </div>
  <div class="panel-body">
    <table>
      <tr *ngFor="let p of playerList; let i=index">
        <td><h3><span class="label label-info">Player {{i+1}}: </span></h3></td>
        <td *ngFor="let i of p.cards">
      <tr>
        <img [src]="i.imageUrl" [alt]="i.name" />
      </tr>
      </td>
      </tr>
    </table>
  </div>
</div>
